<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marcas Impresoras</title>
</head>
<body>
    <h1>ABM Marcas Impresoras</h1>
    <form action="/impresoras/add_marca" method="POST">
        <label for="nombre">Nombre de la Marca:</label>
        <input type="text" id="nombre" name="nombre" required>
        <button type="submit">Agregar Marca</button>
    </form>

    <h2>Lista de Marcas</h2>
    <ul>
        {% for marca in marcas %}
            <li>{{ marca.nombre }}</li>
        {% endfor %}
    </ul>
</body>
</html>