{% extends "base.html" %}

{% block title %}Gestión de Stock{% endblock %}

{% block content %}
<h1 class="mb-4">Gestión de Stock</h1>

<ul class="list-group">
    <!-- Link para Inputar Insumo -->
    <li class="list-group-item">
        <a href="{{ url_for('stock.add_stock') }}" class="btn btn-link">📥 Inputar Insumo</a>
    </li>

    <!-- Link para Movimientos -->
    <li class="list-group-item">
        <a href="" class="btn btn-link">🔄 Movimientos</a>
    </li>

    <li class="list-group-item">
        <a href="{{ url_for('stock.inventario') }}" class="btn btn-link">📊 Ver Inventario</a>
    </li>
</ul>

<a href="{{ url_for('index') }}" class="btn btn-secondary mt-4">Volver al Menú Principal</a>
{% endblock %}